/* line 1, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-label {
  padding: 6px 12px;
  background: black(0.04);
  display: inline;
  text-transform: uppercase;
  font-size: 0.8em; }

/* line 7, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-label-green {
  background: #2c9f42; }

/* line 9, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-label-red {
  background: #de2c3b; }

/* line 11, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-label-yellow {
  background: #ffc800; }

/* line 13, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-label-green, .build-label-red {
  color: white; }

/* line 16, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-item {
  padding: 15px 0;
  border-bottom: 2px dotted black(0.2); }

/* line 19, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-item_right {
  float: right; }

/* line 21, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-item_refresh {
  margin-right: 8px; }
  /* line 23, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
  .build-item_refresh i {
    transition: transform 200ms; }
    /* line 25, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
    .build-item_refresh i:hover {
      transform: rotate(90deg); }

/* line 27, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-item_spin-wrapper {
  margin-right: 8px; }

/* line 29, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-item_remove {
  margin-left: 8px; }

/* line 31, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-item_message {
  font-style: italic; }

/* line 33, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-item_title {
  margin-right: 12px; }

/* line 35, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-item_sha {
  margin-right: 8px; }

/* line 37, /vagrant/opensource/hipster-ci-website/source/stylesheets/application/build.sass */
.build-item_project {
  margin-top: 8px; }
