.base-page_content
.base-page_content_body
  float: right
  border-top: 2px solid green
  width: 740px
  padding-top: 20px
.base-page_content_menu
  width: 120px
  margin-right: 40px
  border-top: 2px solid $blue-color
  li
    border-bottom: 3px solid white
    a
      background: black(0.01)
      display: block
      line-height: 1.5em
      padding: 0 5px
      color: $blue-color
